<link rel="stylesheet" href="style.css">
<header class="text-center">
    <h1>Add your Year, Make, Model of the car and Name also the reason for your visit </h1>
<a href="/new" class="btn btn-primary">Add new customer</a>
</header>
{{#each cars}}
<div class="text-center">

    <h3>{{this.name}}</h3>
    <div class="links m-3">
        <a href="/cars/{{this.id}}" class="btn btn-info">View</a>
        <a href="/cars/{{this.id}}/update" class="btn btn-primary">Update</a>
        <a href="/cars/{{this.id}}" type="submit" value="Delete" method="POST" class="btn btn-danger">Delete</a>
  <form action="/cars/{{this.id}}?_method=DELETE" method="POST" class="d-inline">
  </form>
  </div>
</div>
{{/each}}